*{
    box-sizing: border-box;
}
body{
    margin:0;
    background-color: black;
}
#screen {
    width:1200px;
    height:400px;
    overflow:hidden;
}

#background{
    width:1200px;
    height:400px;
    overflow:hidden;
}
#cinema{
    position:relative;
    left:0px;
}
#leg{
    position: absolute;
    left:50px;
    z-index: 1;
}

#face{
    position: absolute;
    top:300px;
    left:50px;
    z-index: 2;
}

#lace{
    position: absolute;
    left:50px;
    z-index: 3;
}

#jump1{
    visibility: hidden;
    position: absolute;
    left: 33px;
    top: 300px;
    z-index: 0;
}

#jump2{
    visibility: hidden;
    position: absolute;
    left: 33px;
    z-index: 0;
}